html,
body {
  @apply h-full overflow-hidden;
}

.input-error,
.input-success {
  background-color: rgb(var(--color-surface-700)) !important;
}

.space-y-0 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(0px * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0px * var(--tw-space-y-reverse));
}
